body {
    margin: 0;
    padding: 0;
    background-color: white;}

header {
    /*background-image: transparent url('../img/Asset\ 1.png'); */
    background: linear-gradient(rgba(134, 109, 81, 0.6), rgba(134, 109, 81, 0.6)), url('../img/Asset\ 1.png') no-repeat;
    position: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-position: 0 0;


}
header h1 {
    opacity: 100%;
    font-family: 'JejuMyeongjo', serif;
    letter-spacing: 1px;
    color: white;
    font-size: 100px;
    filter: drop-shadow(0px 4px 6px #524b42);
    position: relative;
    
    padding: 50px;
    padding-top: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  
}
header h1:hover {
    cursor: default;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    /* PROBLEM 2: Align the page content to the center of the screen */
    margin: 0 auto; 
}
nav p a {
    text-decoration: none;
    color: white;
}
nav p {
    list-style: none;
    margin: 20px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;

    display: inline-block;
    font-weight: lighter;
    color: white;
    margin-top: 25px;
    
}

nav p:hover {
    font-weight: bolder;
    cursor: pointer;
}


.content {
    width: 900px;
    margin: auto;
    font-family: 'Open Sans', serif;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 75px;

}
#text {
    width: 600px;
}
#text h1 {
    font-size: 42px;
    font-weight: 500000000000000;
}
#text p {
    font-weight: lighter;
    line-height: 30px;
}
#text:hover {
    cursor: default;
}
#right-side {
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#right-side:hover {
    cursor: default;
}
#call {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#call img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 10px;
}
#location p{
    line-height: 35px;
}






.food {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    margin: 10px;
}

.image-card, .over {
    width: 325px;
    height: auto;
}

.image-card {
    display: inline-block;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    /*filter: drop-shadow(4px 4px 5px #524b42);*/
    filter: drop-shadow(0px 0px 0.5px #524b42);

}

.image-card img {
    width: 100%;
    height: 100%;
}

.over {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 100%;
    transition: 0.3s;
    background-color: navy;
}

.image-card:hover .over {
    opacity: 0.7;
}

.rec {
    background-color: #E7C198;
    height: 75px;
    width: auto;
}
