/* ADD ANY LINES OF CODE YOU DEEM NECESSARY FOR QUESTION 1*/

.button {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: black;
    margin: 12px;
    cursor: pointer;
    opacity: 0.7;
}

#row {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body, html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f7f5f2;
    position: relative;
}

.button:hover {
    animation-name: pseudo;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
}

@keyframes pseudo {
    from { }
    to { transform: rotate(180deg); border-radius: 25px; opacity: 100% }
}

/* Add code so that, when hovered over, the buttons rotate 180 degrees,
have full opacity, and become a circle. These changes should be smooth 
(we're animating, after all!) and take 0.45 seconds. /*